# required libraries 

numpy
scipy
matplotlib
scikit-learn
fiona
shapely
geopandas
rasterio
branca
pandas
rioxarray
pathlib
typing
pydantic 
strictyaml
pytorch-tabnet
xgboost
lightgbm
hdbscan
multiprocess
catboost
boto3
hyperopt


# testing requirements
pytest>=6.2.3,<6.3.0

# repo maintenance tooling
black==20.8b1
flake8>=3.9.0,<3.10.0
mypy==0.812
isort==5.8.0
